<!DOCTYPE html>
<html>
<head>
  <title>IMDLab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <p style='color: green;'><%= notice %></p>
      <p style='color: red;'><%= alert %></p>

      <nav>
        <%= link_to 'HOME', posts_path %> |
        <%= link_to 'NEW', new_post_path %>

      </nav>

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
